# Build and Release Folders
auto-save-list/
file-backups/
bookmarks
bookmarks.emacs
org-roam.db
recentf
recentf~
.#bookmarks
network-security.data
.#init.el
image-dired/.image-dired_db
elpa/archives/
elpa/gnupg/
url/cookies
*.desktop
server/server
