# .gitignore
##################
#ignore all except what I specify
*
!/.gitignore ;imported pacakges contained gitignores
!/README.md ;imported packages contained readmes
!init.el
!my-paths.el
!aesthetics.el
!pdf-continuos-scroll-mode.el
!*/
!win/*.exe
!win/Graphviz/*
!win/org-protocols.reg
