# .gitignore
##################
#ignore all except what I specify
*
!.gitignore
!README.md
!init.el
!*/
!*/bind-key*/
!*/use-package*/
!*/bind-key*/bind-key*.el #dependancy of use-package
!*/use-package*/use-package*.el